.home-container {
    .home-container__inner {
        margin: auto;
        max-width: 1200px;
        padding: 30px 0;
    }

    .title {
        margin: 150px 0;
        text-align: center;

        span {
            color: #e31b6d;
        }
    }

    .icons {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        margin: 150px 0;

        .icon-container {
            align-items: center;
            justify-content: center;
            text-align: center;
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 25%;

            svg {
                font-size: 50px;
            }

            p {
                height: 10px;
            }
        }
    }

    .info {
        margin: 150px 0;
        display: flex;
        flex-wrap: wrap;
        padding: 0 10px;

        .general-info {
            height: 100%;
            width: 50%;
            align-items: center;
            justify-content: center;
            text-align: center;
            display: flex;
            flex-direction: column;

            img {
                width: 100px;
                height: 100px;
            }
        }

        .bars {
            height: 100%;
            width: 50%;
            align-items: center;
            justify-content: center;
            text-align: center;
            display: flex;
            flex-direction: column;


            .bar {
                align-items: center;
                background: #c0c7cb;
                margin: 15px auto;
                height: 30px;
                width: 90%;
                display: flex;
                color: white;

                .bar-skill {
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    height: 100%;
                    background: #485461;
                    width: 20%;

                }

                .bar-fill {
                    background: linear-gradient(90deg, #485461 0%, #28313b 100%);
                    height: 100%;
                }

                .w9 {
                    width: 90%;
                }

                .w8 {
                    width: 80%;
                }

                .w7 {
                    width: 70%;
                }

                .w1 {
                    width: 10%;
                }

                .w2 {
                    width: 20%;
                }

                .w3 {
                    width: 30%;
                }
            }
        }
    }
}

@media screen and (max-width:960px) {
    .home-container {
        .icons {
            .icon-container {
                width: 50%;
            }
        }

        .info {
            .general-info {
                width: 100%;
            }

            .bars {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width:576px) {
    .home-container {
        .icons {
            .icon-container {
                width: 100%;
            }
        }
    }
}
